In [487]:
# Load the required packages needed for performing data merging
%load_ext lab_black
import pandas as pd
import numpy as np
import operator

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [488]:
# Load GMR csv
gmr = pd.read_csv(
    "Global_Mobility_Report.csv",
    sep=",",
)

C:\Users\Dean Huang\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [489]:
gmr.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [490]:
gmr[gmr["country_region"] == "United Kingdom"]

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
1020887,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-15,-12.0,-7.0,-35.0,-12.0,-4.0,2.0
1020888,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-16,-7.0,-6.0,-28.0,-7.0,-3.0,1.0
1020889,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-17,10.0,1.0,24.0,-2.0,-14.0,2.0
1020890,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-18,7.0,-1.0,20.0,-3.0,-14.0,2.0
1020891,GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,2020-02-19,6.0,-2.0,8.0,-4.0,-14.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127090,GB,United Kingdom,York,NaN,NaN,GB-YOR,NaN,2020-10-23,-30.0,-8.0,-10.0,-35.0,-39.0,14.0
1127091,GB,United Kingdom,York,NaN,NaN,GB-YOR,NaN,2020-10-24,-38.0,-12.0,-36.0,-38.0,-17.0,9.0
1127092,GB,United Kingdom,York,NaN,NaN,GB-YOR,NaN,2020-10-25,-29.0,-8.0,17.0,-32.0,-14.0,6.0
1127093,GB,United Kingdom,York,NaN,NaN,GB-YOR,NaN,2020-10-26,-13.0,-6.0,27.0,-33.0,-52.0,15.0
1127094,GB,United Kingdom,York,NaN,NaN,GB-YOR,NaN,2020-10-27,-12.0,-4.0,16.0,-38.0,-52.0,16.0

In [491]:
# Create a dictionary fpr mapping Country to its country code
Countries = {
    "US": "United States",
    "BR": "Brazil",
    "CA": "Canada",
    "HK": "Hong Kong",
    "JP": "Japan",
    "RU": "Russia",
    "ZA": "South Africa",
    "TH": "Thailand",
    "MX": "Mexico",
    "GB": "United Kingdom",
}
gmr1 = gmr[gmr["sub_region_1"].isnull()][
    (gmr["country_region_code"].isin(Countries.keys()) == True)
]

<ipython-input-491-82c41badc90f>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  gmr1 = gmr[gmr["sub_region_1"].isnull()][

In [492]:
gmr2 = gmr1[gmr1["metro_area"].isnull()]

In [493]:
gmr2.shape

(2560, 14)

In [494]:
gmr[gmr["sub_region_1"].isnull()]

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850939,ZW,Zimbabwe,NaN,NaN,NaN,NaN,NaN,2020-10-23,6.0,21.0,32.0,0.0,3.0,8.0
2850940,ZW,Zimbabwe,NaN,NaN,NaN,NaN,NaN,2020-10-24,8.0,25.0,35.0,3.0,12.0,3.0
2850941,ZW,Zimbabwe,NaN,NaN,NaN,NaN,NaN,2020-10-25,10.0,24.0,35.0,0.0,15.0,5.0
2850942,ZW,Zimbabwe,NaN,NaN,NaN,NaN,NaN,2020-10-26,5.0,16.0,33.0,9.0,4.0,9.0
2850943,ZW,Zimbabwe,NaN,NaN,NaN,NaN,NaN,2020-10-27,6.0,23.0,28.0,3.0,3.0,9.0

In [495]:
gmr["sub_region_1"].empty

False

In [496]:
gmr.shape

(2855089, 14)

In [497]:
gmr1.shape

(6656, 14)

In [498]:
# No Missing Values
gmr1[
    [
        "retail_and_recreation_percent_change_from_baseline",
        "grocery_and_pharmacy_percent_change_from_baseline",
        "parks_percent_change_from_baseline",
        "transit_stations_percent_change_from_baseline",
        "workplaces_percent_change_from_baseline",
        "residential_percent_change_from_baseline",
    ]
].isna == True

False

In [499]:
# Check there are 10 countries
len(gmr1["country_region_code"].unique())

10

In [500]:
# Load Countries csv
ct = pd.read_csv(
    "countries_cleaned.csv",
    sep=",",
)

In [501]:
ct.head()

,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Literacy (%),Phones (per 1000),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,31056997,"48,0",700.0,"36,0","3,2",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,3581655,"124,6",4500.0,"86,5","71,2",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,32930091,"13,8",6000.0,"70,0","78,1",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,57794,"290,4",8000.0,"97,0","259,5",2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,71201,"152,1",19000.0,"100,0","497,2",3,"8,71","6,25",NaN,NaN,NaN

In [502]:
# Create a dictionary fpr mapping Country to its country code
Countries1 = {
    "US": "United States ",
    "BR": "Brazil ",
    "CA": "Canada ",
    "HK": "Hong Kong ",
    "JP": "Japan ",
    "RU": "Russia ",
    "ZA": "South Africa ",
    "TH": "Thailand ",
    "MX": "Mexico ",
    "GB": "United Kingdom ",
}

In [503]:
# Subset Countries
ct1 = ct[ct["Country"].isin(Countries1.values())]
len(ct1["Country"].unique())

10

In [504]:
ct1.head()

,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Literacy (%),Phones (per 1000),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
27,Brazil,188078227,"22,1",7600.0,"86,4","225,3",2,"16,56","6,17","0,084","0,4","0,516"
36,Canada,33098932,"3,3",29800.0,"97,0","552,2",NaN,"10,78","7,8","0,022","0,294","0,684"
91,Hong Kong,6940432,"6355,7",28800.0,"93,5","546,7",2,"7,29","6,29","0,001","0,092","0,906"
103,Japan,127463611,"337,4",28200.0,"99,0","461,2",3,"9,37","9,16","0,017","0,258","0,725"
135,Mexico,107449525,"54,5",9000.0,"92,2","181,6","1,5","20,69","4,74","0,038","0,259","0,702"

In [505]:
ct1.columns

Index(['Country', 'Population', 'Pop. Density (per sq. mi.)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Climate',
       'Birthrate', 'Deathrate', 'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [506]:
nec_cols = [
    "Country",
    "Population",
    "Pop. Density (per sq. mi.)",
    "GDP ($ per capita)",
    "Climate",
    "Birthrate",
    "Deathrate",
    "Agriculture",
    "Industry",
    "Service",
]

ct1 = ct1[nec_cols]

In [507]:
ct1.columns

Index(['Country', 'Population', 'Pop. Density (per sq. mi.)',
       'GDP ($ per capita)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [508]:
ct1.iloc[:, -5:] = ct1.iloc[:, -5:].replace(",", ".", regex=True)

In [509]:
ct1.head()

,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
27,Brazil,188078227,"22,1",7600.0,2,16.56,6.17,0.084,0.4,0.516
36,Canada,33098932,"3,3",29800.0,NaN,10.78,7.8,0.022,0.294,0.684
91,Hong Kong,6940432,"6355,7",28800.0,2,7.29,6.29,0.001,0.092,0.906
103,Japan,127463611,"337,4",28200.0,3,9.37,9.16,0.017,0.258,0.725
135,Mexico,107449525,"54,5",9000.0,"1,5",20.69,4.74,0.038,0.259,0.702

In [510]:
# Drop climate column
ct1 = ct1.drop("Climate", axis=1)

In [511]:
ct1

,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Birthrate,Deathrate,Agriculture,Industry,Service
27,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516
36,Canada,33098932,"3,3",29800.0,10.78,7.8,0.022,0.294,0.684
91,Hong Kong,6940432,"6355,7",28800.0,7.29,6.29,0.001,0.092,0.906
103,Japan,127463611,"337,4",28200.0,9.37,9.16,0.017,0.258,0.725
135,Mexico,107449525,"54,5",9000.0,20.69,4.74,0.038,0.259,0.702
169,Russia,142893540,"8,4",8900.0,9.95,14.65,0.054,0.371,0.575
189,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671
201,Thailand,64631595,"125,7",7400.0,13.87,7.04,0.099,0.441,0.46
213,United Kingdom,60609153,"247,6",27700.0,10.71,10.13,0.005,0.237,0.758
214,United States,298444215,"31,0",37800.0,14.14,8.26,0.01,0.204,0.787

In [512]:
ct1.dtypes

Country                        object
Population                      int64
Pop. Density (per sq. mi.)     object
GDP ($ per capita)            float64
Birthrate                      object
Deathrate                      object
Agriculture                    object
Industry                       object
Service                        object
dtype: object

In [513]:
# Load disease_cleaned csv
ds = pd.read_csv(
    "disease_cleaned.csv",
    sep=",",
)
ds.head()

,location,date,total_cases,total_cases_per_million,new_cases_per_million,new_deaths_per_million,stringency_index,population,population_density,aged_65_older,aged_70_older,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,12/31/2019,0.0,0.0,0.0,0.0,NaN,38928341.0,54.422,2.581,1.337,1803.987,0.5
1,Afghanistan,1/1/2020,0.0,0.0,0.0,0.0,0.0,38928341.0,54.422,2.581,1.337,1803.987,0.5
2,Afghanistan,1/2/2020,0.0,0.0,0.0,0.0,0.0,38928341.0,54.422,2.581,1.337,1803.987,0.5
3,Afghanistan,1/3/2020,0.0,0.0,0.0,0.0,0.0,38928341.0,54.422,2.581,1.337,1803.987,0.5
4,Afghanistan,1/4/2020,0.0,0.0,0.0,0.0,0.0,38928341.0,54.422,2.581,1.337,1803.987,0.5

In [514]:
ds[ds["location"] == "Thailand"]

,location,date,total_cases,total_cases_per_million,new_cases_per_million,new_deaths_per_million,stringency_index,population,population_density,aged_65_older,aged_70_older,gdp_per_capita,hospital_beds_per_thousand
29845,Thailand,12/31/2019,0.0,0.000,0.000,0.0,0.00,69799978.0,135.132,11.373,6.89,16277.671,2.1
29846,Thailand,1/1/2020,0.0,0.000,0.000,0.0,0.00,69799978.0,135.132,11.373,6.89,16277.671,2.1
29847,Thailand,1/2/2020,0.0,0.000,0.000,0.0,0.00,69799978.0,135.132,11.373,6.89,16277.671,2.1
29848,Thailand,1/3/2020,0.0,0.000,0.000,0.0,0.00,69799978.0,135.132,11.373,6.89,16277.671,2.1
29849,Thailand,1/4/2020,0.0,0.000,0.000,0.0,0.00,69799978.0,135.132,11.373,6.89,16277.671,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30052,Thailand,7/25/2020,3282.0,47.020,0.043,0.0,49.07,69799978.0,135.132,11.373,6.89,16277.671,2.1
30053,Thailand,7/26/2020,3291.0,47.149,0.129,0.0,49.07,69799978.0,135.132,11.373,6.89,16277.671,2.1
30054,Thailand,7/27/2020,3295.0,47.206,0.057,0.0,49.07,69799978.0,135.132,11.373,6.89,16277.671,2.1
30055,Thailand,7/28/2020,3297.0,47.235,0.029,0.0,49.07,69799978.0,135.132,11.373,6.89,16277.671,2.1
30056,Thailand,7/29/2020,3298.0,47.249,0.014,0.0,49.07,69799978.0,135.132,11.373,6.89,16277.671,2.1

In [515]:
ds1 = ds[ds["location"].isin(Countries.values())]

In [516]:
gmr1.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
246061,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-15,5.0,4.0,-5.0,8.0,6.0,0.0
246062,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-16,2.0,3.0,-13.0,3.0,0.0,1.0
246063,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-17,-2.0,0.0,-12.0,9.0,19.0,-1.0
246064,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-18,-3.0,-1.0,-11.0,9.0,15.0,-1.0
246065,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-19,-1.0,-2.0,-5.0,8.0,14.0,-1.0

In [517]:
len(ds1["location"].unique())

10

In [518]:
ct1.dtypes

Country                        object
Population                      int64
Pop. Density (per sq. mi.)     object
GDP ($ per capita)            float64
Birthrate                      object
Deathrate                      object
Agriculture                    object
Industry                       object
Service                        object
dtype: object

In [519]:
ct1["Country"] = ct1["Country"].str.rstrip(" ")

In [520]:
# Data Merging (gmr1 & ct1)
merge = pd.merge(
    gmr2,
    ct1,
    how="left",
    left_on="country_region",
    right_on="Country",
    validate="m:1",
    indicator=True,
)

In [521]:
merge.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,...,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Birthrate,Deathrate,Agriculture,Industry,Service,_merge
0,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-15,5.0,4.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
1,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-16,2.0,3.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
2,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-17,-2.0,0.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
3,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-18,-3.0,-1.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
4,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-19,-1.0,-2.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both

In [522]:
# Check missing values
merge["Population"].isna == True

False

In [523]:
ds1.head()

,location,date,total_cases,total_cases_per_million,new_cases_per_million,new_deaths_per_million,stringency_index,population,population_density,aged_65_older,aged_70_older,gdp_per_capita,hospital_beds_per_thousand
4310,Brazil,12/31/2019,0.0,0.0,0.0,0.0,NaN,212559409.0,25.04,8.552,5.06,14103.452,2.2
4311,Brazil,1/1/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2
4312,Brazil,1/2/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2
4313,Brazil,1/3/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2
4314,Brazil,1/4/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2

In [524]:
merge.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,...,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Birthrate,Deathrate,Agriculture,Industry,Service,_merge
0,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-15,5.0,4.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
1,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-16,2.0,3.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
2,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-17,-2.0,0.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
3,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-18,-3.0,-1.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
4,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-19,-1.0,-2.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both

In [525]:
merge.dtypes

country_region_code                                     object
country_region                                          object
sub_region_1                                            object
sub_region_2                                            object
metro_area                                              object
iso_3166_2_code                                         object
census_fips_code                                       float64
date                                                    object
retail_and_recreation_percent_change_from_baseline     float64
grocery_and_pharmacy_percent_change_from_baseline      float64
parks_percent_change_from_baseline                     float64
transit_stations_percent_change_from_baseline          float64
workplaces_percent_change_from_baseline                float64
residential_percent_change_from_baseline               float64
Country                                                 object
Population                                               int64
Pop. Density (per sq. mi.)                              object
GDP ($ per capita)                                     float64
Birthrate                                               object
Deathrate                                               object
Agriculture                                             object
Industry                                                object
Service                                                 object
_merge                                                category
dtype: object

In [526]:
merge["date"] = pd.to_datetime(merge["date"], format="%Y-%m-%d")

In [527]:
merge.dtypes

country_region_code                                           object
country_region                                                object
sub_region_1                                                  object
sub_region_2                                                  object
metro_area                                                    object
iso_3166_2_code                                               object
census_fips_code                                             float64
date                                                  datetime64[ns]
retail_and_recreation_percent_change_from_baseline           float64
grocery_and_pharmacy_percent_change_from_baseline            float64
parks_percent_change_from_baseline                           float64
transit_stations_percent_change_from_baseline                float64
workplaces_percent_change_from_baseline                      float64
residential_percent_change_from_baseline                     float64
Country                                                       object
Population                                                     int64
Pop. Density (per sq. mi.)                                    object
GDP ($ per capita)                                           float64
Birthrate                                                     object
Deathrate                                                     object
Agriculture                                                   object
Industry                                                      object
Service                                                       object
_merge                                                      category
dtype: object

In [528]:
ds1.head()

,location,date,total_cases,total_cases_per_million,new_cases_per_million,new_deaths_per_million,stringency_index,population,population_density,aged_65_older,aged_70_older,gdp_per_capita,hospital_beds_per_thousand
4310,Brazil,12/31/2019,0.0,0.0,0.0,0.0,NaN,212559409.0,25.04,8.552,5.06,14103.452,2.2
4311,Brazil,1/1/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2
4312,Brazil,1/2/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2
4313,Brazil,1/3/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2
4314,Brazil,1/4/2020,0.0,0.0,0.0,0.0,0.0,212559409.0,25.04,8.552,5.06,14103.452,2.2

In [529]:
ds1["date"] = pd.to_datetime(ds1["date"], format="%m/%d/%Y")

<ipython-input-529-44c596937e14>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1["date"] = pd.to_datetime(ds1["date"], format="%m/%d/%Y")

In [530]:
ds1.shape

(1897, 13)

In [531]:
merge.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,...,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Birthrate,Deathrate,Agriculture,Industry,Service,_merge
0,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-15,5.0,4.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
1,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-16,2.0,3.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
2,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-17,-2.0,0.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
3,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-18,-3.0,-1.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both
4,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-19,-1.0,-2.0,...,Brazil,188078227,"22,1",7600.0,16.56,6.17,0.084,0.4,0.516,both

In [532]:
# Data Merging (merge & ds1)
merge2 = pd.merge(
    merge,
    ds1,
    how="left",
    left_on=["country_region", "date"],
    right_on=["location", "date"],
)

In [533]:
merge2.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,...,total_cases_per_million,new_cases_per_million,new_deaths_per_million,stringency_index,population,population_density,aged_65_older,aged_70_older,gdp_per_capita,hospital_beds_per_thousand
0,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-15,5.0,4.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
1,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-16,2.0,3.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
2,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-17,-2.0,0.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
3,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-18,-3.0,-1.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
4,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-19,-1.0,-2.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2

In [534]:
merge2.shape

(2560, 36)

In [535]:
gmr1.shape

(6656, 14)

In [536]:
merge2.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,...,total_cases_per_million,new_cases_per_million,new_deaths_per_million,stringency_index,population,population_density,aged_65_older,aged_70_older,gdp_per_capita,hospital_beds_per_thousand
0,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-15,5.0,4.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
1,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-16,2.0,3.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
2,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-17,-2.0,0.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
3,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-18,-3.0,-1.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2
4,BR,Brazil,NaN,NaN,NaN,NaN,NaN,2020-02-19,-1.0,-2.0,...,0.0,0.0,0.0,5.56,212559409.0,25.04,8.552,5.06,14103.452,2.2

In [537]:
merge2[merge2["country_region"] == "Thailand"]

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,...,total_cases_per_million,new_cases_per_million,new_deaths_per_million,stringency_index,population,population_density,aged_65_older,aged_70_older,gdp_per_capita,hospital_beds_per_thousand
1792,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-02-15,-3.0,1.0,...,0.487,0.014,0.0,0.0,69799978.0,135.132,11.373,6.89,16277.671,2.1
1793,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-02-16,-3.0,2.0,...,0.487,0.000,0.0,0.0,69799978.0,135.132,11.373,6.89,16277.671,2.1
1794,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-02-17,-3.0,1.0,...,0.487,0.000,0.0,0.0,69799978.0,135.132,11.373,6.89,16277.671,2.1
1795,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-02-18,-3.0,0.0,...,0.501,0.014,0.0,0.0,69799978.0,135.132,11.373,6.89,16277.671,2.1
1796,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-02-19,-4.0,-3.0,...,0.501,0.000,0.0,0.0,69799978.0,135.132,11.373,6.89,16277.671,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-10-23,-7.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2044,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-10-24,-11.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2045,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-10-25,-10.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2046,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-10-26,-9.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2047,TH,Thailand,NaN,NaN,NaN,NaN,NaN,2020-10-27,-8.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [538]:
# Check the number of nulls in each predictor
predictors = merge2.columns
container = {}
for col in predictors:
    """
    if df[col].isna().sum() < 1000 and col != 'transportation_issues':
        predictors.append(col)
    """
    container[str(col)] = merge2[col].isna().sum()

container_sorted = sorted(container.items(), key=operator.itemgetter(1))
print("Number of predictors:", len(container_sorted))
print("\nNull counts:")
for predictor in container_sorted:
    print(predictor[0], predictor[1])

Number of predictors: 36

Null counts:
country_region_code 0
country_region 0
date 0
retail_and_recreation_percent_change_from_baseline 0
grocery_and_pharmacy_percent_change_from_baseline 0
parks_percent_change_from_baseline 0
transit_stations_percent_change_from_baseline 0
workplaces_percent_change_from_baseline 0
residential_percent_change_from_baseline 0
Country 0
Population 0
Pop. Density (per sq. mi.) 0
GDP ($ per capita) 0
Birthrate 0
Deathrate 0
Agriculture 0
Industry 0
Service 0
_merge 0
location 1040
population 1040
population_density 1040
aged_65_older 1040
aged_70_older 1040
gdp_per_capita 1040
total_cases 1066
total_cases_per_million 1066
new_cases_per_million 1066
new_deaths_per_million 1066
hospital_beds_per_thousand 1066
stringency_index 1076
sub_region_1 2560
sub_region_2 2560
metro_area 2560
iso_3166_2_code 2560
census_fips_code 2560

In [540]:
# Convert to CSV
merge2.to_csv(
    r"D:\Duke University (MIDS 2022)\Datathon\Selected Data\final_data1.csv",
    index=False,
    header=True,
)

In [385]:
ds1[ds1["total_cases_per_million"].isnull()]["location"].unique()

array(['Hong Kong', 'Mexico', 'South Africa', 'Thailand'], dtype=object)

In [381]:
merge[merge["country_region"] == "South Africa"]

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,...,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Birthrate,Deathrate,Agriculture,Industry,Service,_merge
2304,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-02-15,4.0,0.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2305,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-02-16,-3.0,-1.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2306,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-02-17,-10.0,-10.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2307,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-02-18,-12.0,-12.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2308,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-02-19,-12.0,-12.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2555,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-10-23,-8.0,10.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2556,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-10-24,-8.0,5.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2557,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-10-25,-14.0,2.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2558,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-10-26,-16.0,-3.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both
2559,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,2020-10-27,-14.0,2.0,...,South Africa,44187637,"36,2",10700.0,18.2,22,0.025,0.303,0.671,both

In [ ]:
ds